.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.time {
  height: 100vh;
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.dropdown {
  padding: 20px !important;
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.dropdown:hover {
  background-color: rgb(241, 235, 235);
}

.settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.clock {
  height: 500px;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .time {
    height: 60vh;
  }

  .clock {
    margin-bottom: 0;
    height: 300px;
  }
}
