.clock {
  font-size: 10em;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 1400px) {
  .clock {
    font-size: 6em;
  }
}

@media (max-width: 900px) {
  .clock {
    font-size: 4em;
  }
}
