.description {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.setTime {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

@media (max-width: 900px) {
  .description {
    height: 40vh;
    align-items: center;
    justify-content: space-around;
  }
  .setTime {
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
  }
}
